# Dependency Directories (Exclude large module folders)
node_modules/
venv/
.next/
out/
build/
dist/
tsconfig.tsbuildinfo

# Credentials & API Keys
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
*.key

# Databases & SQLite
*.db
*.sqlite
*.sqlite3
backend/optima_agent.db
mlflow.db

# Confidential User Data Logs & Uploads
backend/users_log.csv
backend/uploads/
uploads/
mlruns/

# System / OS Files
.DS_Store
Thumbs.db
